*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #fefe;
}
.container{
  width: 550px;
  margin-top: 10px;
}
nav{
  height: 70px;
  background-color: #fff;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, .1) ;
  display: flex;
  border-radius: 3px 3px 0 0;
}

.logo{
  margin-top: 22px;
  margin-left: 30px;
  width: 82px;
  height: 25px;
}
/*? *** Hero Section ***/
.hero-section{
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.img-hero{
  max-width: 400px;
  max-height: 232px;
  margin-top: 26px;
  align-self: center;
}
.hero--header{
  margin-top: 32px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 36px;
  color: #000;
}
.hero--text{
  font-size: 16px;
  margin-top: 0;
  font-weight: 300;
}
/*? *** Card container ***/
.card-container{
  position: relative;
  margin-top: 49px;
  margin-left: 17px;
  width: 176px;
  background: #fff;
}
.cards-list {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px;
  overflow-x: auto;
  background-color: #fff;
  border-radius: 0 0 3px 3px;
}
.card-container .card-img{
  width: 146px;
  height: 235px;
  border-radius: 9px;
}
.card-container .card-badge{
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  font-weight: 600;
  text-transform: uppercase;
  width: 61px;
  height: 20px;
  font-size: 10px;
  text-align: center;
  padding-top: 2px;
}
.container-exp .star-img{
  width: 14px;
  height: 14px;
}
.card-container .container-exp .point{
  width: 2px;
  height: 2px;
  background-color: #918e9b;
  display: inline-block;
  margin-bottom: 3px;
  margin-left: 2px;
}
.card-container .star-container{
  display: flex;
  align-items: center;
}
.card-container .container-exp .number,
.card-container .container-exp .country,
.card-container .container-exp .number2,
.card-container .container-exp p{
  font-size: 12px;
  font-weight: 300;
  padding-left: 2px;
}
.card-container .container-exp .country,
.card-container .container-exp .number2{
  color: #918e9b;
}
.card-container .container-exp p{
  margin-top: 8px;
  color: rgba(34, 34, 34, 1);
}
.card-container .container-exp p span{
  font-weight: 600;
}
