*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container{
  width: 550px;
}
.navbar-container{
  height: 70px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  border-radius: 3px 3px 0 0;
}
.logo{
  margin-top: 22px;
  margin-left: 30px;
  width: 82px;
}
section{
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.img-hero{
  max-width: 400px;
  max-height: 232px;
  margin-top: 26px;
  align-self: center;
}
.hero--header{
  margin-top: 32px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 36px;
  color: #000;
}
.hero--text{
  font-size: 16px;
  margin-top: 0;
  font-weight: 300;
}